.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .formAdd{
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    border-radius: 6px;
    width:50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .formAdd form{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .formAdd input,
.container .formAdd select{
    position: relative;
    width: 70%;
    border: 1px black solid;
    margin: 10px 10px 10px 10px;
}
.container .formAdd select{
    height: 30px;
    border-radius: 6px;
}